<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Flix - Where Movie meets Database</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- main dashboard container wrapper full remainder height full width-->
    <div style="background:salmon; height: 100vh;">
        <!-- main dashboard navbar container wrapper -->
        <div class="h-100 col-xs-4 col-sm-3 col-md-2" style="background:white">
          <!-- dash navbar container-->
          <div class="container h-100" style="background:blue">
                <div th:fragment="dashboard_nav(active)" class="dash_nav_inner_container">
                    <div class="d-flex justify-content-center align-items-center" style="width: 70px; height: 70px; background: black; color: white; border-radius: 50%;">
                        <h1 th:if="${user}" th:text="${#strings.substring(user.username, 0, 1)}" style="font-weight: 900;font-size: 3rem;text-transform: capitalize;padding: 0;margin: 0;line-height: 0.75;"/>
                    </div>
                    <ul>
                        <li>
                            <a
                                th:href="@{/user}"
                            >Home</a>
                        </li>
                        <li>
                            <a
                            th:href="@{/user}"
                            >Top Picks</a>
                        </li>
                        <li>
                            <a
                            th:href="@{/user}"
                            >My Favorites</a>
                        </li>
                        <li>
                            <a
                            th:href="@{/user}"
                            >Movies</a>
                        </li>
                    </ul>
                </div>
                <div style="position: absolute; bottom: 0;">
                    <a th:href="@{/logout}">Log out</a>
                </div>
            </div>
            
        </div>

   </div>
 
</body>
</html>