<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Flix - User Dashboard</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- main dashboard container wrapper full remainder height full width-->
    <div class="dashboard_container">
      <!-- main dashboard navbar container wrapper -->
      <div class="col col-sm-5 col-md-4 col-lg-3 dashboard_nav_full_wrapper">
        <!-- dash navbar container-->
        <div class="container dashboard_nav_container">
          <div
            th:replace="~{fragments/general_dashboard :: dashboard_nav(active='reviews')}"
            style="background: yellow"
          >
            <p>Dashboard Side Nav for Reviews</p>
          </div>
        </div>
      </div>
      <div
        class="col col-sm-7 col-md-8 col-lg-9 dashboare_main_container_wrapper"
      >
        <div class="container-fluid" >

          <div th:each="view : ${user.views}" th:if="${view.review != ''}" class="user-review-wrapper">
            <div style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%;position: absolute; bottom: -50px; left: 50ps;">
              <img th:src="@{${'https://image.tmdb.org/t/p/original' + view.movie.posterUrl}}"  style="width: 100%;"/>
            </div>
            <h2 th:text="${view.movie.title}" />
            <p th:text="${view.review}" />
            
          </div>
         

        </div>
      </div>
    </div>
  </body>
</html>
